<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCQ Quiz</title>
</head>
<body>
    <h1>MCQ Quiz</h1>
    <form action="/submit" method="post">
        <h3>Mathematics:</h3>
        <label for="question1">What is 7 * 8?</label><br>
        <input type="radio" id="q1_option1" name="question1" value="56"> 56<br>
        <input type="radio" id="q1_option2" name="question1" value="64"> 64<br>
        <input type="radio" id="q1_option3" name="question1" value="48"> 48<br><br>
        
        <label for="question2">What is the square root of 81?</label><br>
        <input type="radio" id="q2_option1" name="question2" value="9"> 9<br>
        <input type="radio" id="q2_option2" name="question2" value="8"> 8<br>
        <input type="radio" id="q2_option3" name="question2" value="7"> 7<br><br>

        <h3>English:</h3>
        <label for="question3">Which word is spelled correctly?</label><br>
        <input type="radio" id="q3_option1" name="question3" value="library"> library<br>
        <input type="radio" id="q3_option2" name="question3" value="librari"> librari<br>
        <input type="radio" id="q3_option3" name="question3" value="liberry"> liberry<br><br>
        
        <label for="question4">Choose the correct synonym for "happy".</label><br>
        <input type="radio" id="q4_option1" name="question4" value="joyful"> joyful<br>
        <input type="radio" id="q4_option2" name="question4" value="sad"> sad<br>
        <input type="radio" id="q4_option3" name="question4" value="angry"> angry<br><br>

        <h3>General Knowledge:</h3>
        <label for="question5">What is the longest river in the world?</label><br>
        <input type="radio" id="q5_option1" name="question5" value="Nile"> Nile<br>
        <input type="radio" id="q5_option2" name="question5" value="Amazon"> Amazon<br>
        <input type="radio" id="q5_option3" name="question5" value="Yangtze"> Yangtze<br><br>
        
        <label for="question6">Who invented the light bulb?</label><br>
        <input type="radio" id="q6_option1" name="question6" value="Thomas Edison"> Thomas Edison<br>
        <input type="radio" id="q6_option2" name="question6" value="Alexander Graham Bell"> Alexander Graham Bell<br>
        <input type="radio" id="q6_option3" name="question6" value="Albert Einstein"> Albert Einstein<br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
